@model Project.Areas.System.Models.ApproverViewModel
@{
    ViewData["Title"] = "Notifications";
}

<div class="card">
    <div class="card-header">
        <h5>Notifications</h5>
    </div>
    <div class="card-header">
        <span><a asp-area="System" asp-controller="Dashboard" asp-action="Index" class="btn btn-sm btn-outline-primary">Return to Dashboard</a></span>
    </div>
    <div class="card-body">

        
    </div>
</div>





