@using Project.Views.Manage

<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link" asp-action="Edit" asp-controller="Users" asp-area="System" asp-route-UserId="@Context.Request.Query["UserId"]">Profile</a>
    <a class="nav-link" asp-action="SetPassword" asp-controller="Users" asp-area="System" asp-route-UserId="@Context.Request.Query["UserId"]">Set Password</a>
    <a class="nav-link" asp-action="Access" asp-controller="Users" asp-area="System" asp-route-UserId="@Context.Request.Query["UserId"]">Access</a>
</div>


