
@model Project.Areas.System.Models.UserEditViewModel
@{
    ViewData["Title"] = "Profile";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)


<form method="post" asp-action="Edit" asp-area="System" asp-controller="Users" asp-route-UserId="@Context.Request.Query["UserId"]">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>Staff Id</label>
                <input asp-for="StaffId" class="form-control" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>First Name</label>
                <input asp-for="FirstName" class="form-control" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Middle Name</label>
                <input asp-for="MiddleName" class="form-control" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Last Name</label>
                <input asp-for="LastName" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label asp-for="State"></label>
                <input asp-for="State" class="form-control" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Zip Code</label>
                <input asp-for="ZipCode" class="form-control" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Home Email</label>
                @if (Model.IsHomeEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="HomeEmail" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="HomeEmail" class="form-control" />
                    <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" />
                    <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
            </div>
        </div>
    </div>

    <div class="float-right">
        <button type="submit" class="btn btn-outline-primary">Save Changes</button>
    </div>

</form>