@model Project.Areas.System.Models.SetUserPasswordViewModel
@{
    ViewData["Title"] = "Change password";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="row justify-content-center">
    <div class="col-lg-6">
        <form method="post" asp-area="System" asp-controller="Users" asp-action="SetPassword" asp-route-UserId="@Context.Request.Query["UserId"]">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="float-right">
                <button type="submit" class="btn btn-outline-primary">Set Password</button>
            </div>
        </form>
    </div>
</div>